/data/raw/*
!/data/raw/README.md
/data/synchronized/*
!/data/synchronized/README.md
/data/preprocessed/*
!/data/preprocessed/README.md
!/data/preprocessed/emgConfirmPlot/
/data/preprocessed/emgConfirmPlot/*
!/data/preprocessed/emgConfirmPlot/README.md
/data/processed/*
!/data/processed/README.md
/data/processed/stitched/*
!/data/processed/stitched/README.md
/data/processed/non-stitched/*
!/data/processed/non-stitched/README.md
/data/processed/stitched-whole/*
!/data/processed/stitched-whole/README.md


/src/*.asv
/src/utils/preprocessing/*.asv
/src/utils/synchronizing/*.asv

.DS_Store
